header {
    background-color: #9e977a;
    color: black;
    text-align: center;
}

body {
    background-image: url("../images/topography.png");
}

.instructions1, .instructions2 {
    /*text-align: center;*/
    font-size: x-large;
}

#vs {
    font-size: x-large;
    font-family: "Times New Roman";
}

.battle {
    padding: 10px;
}

.tank {
    padding: 2px;
    border-color: #8a6d3b;
    width: 150px;
    padding-left: 18px;
}

.pieces {
    width: 150px;
    height: 95px;
}

.tankshell {
    width:  150px;
    height: 100px;
}

.tankscore {
     background: black;
     color: white;
     position: relative;
     bottom: 36px;
     width: 100%;
     text-align: center;
     font-size: x-small;
 }

.tankname {
    background: black;
    color: white;
    position: relative;
    bottom: 98px;
    width: 100%;
    text-align: center;
    font-size: x-small;
}

#you {
    background-color: #999999;
}

.footer {
    background: #999999;
    text-align: center;
    padding: 10px;
    /*margin-top: 5px;*/
    /*border-top: thick solid #6ea3da;*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: x-small;
    z-index: -1;
}

.footer:after {
    content: "\00a9 Copyright 2017 Curtis Lytle";
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}